*{
  margin: 0;
  padding:0;
  font-family: sans-serif;
box-sizing: border-box;
color: white;
}

main{
  margin-top: 5vw;
  display: flex;
  color: rgb(0, 0, 0);

  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  overflow: hidden;
  }
  
body{
  background: #161a1d;
}

  form{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
  }

  #form-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 1vw;
    padding: 1vw;
  }

  h1{
    padding: 2vw;
    width: 100%;
   align-self: center;
   text-align: center !important;
    color: #ffffff ;
    background-color:  #ba181b; 
    justify-self: center;
  }
option{
  color: black;
}
  .choice{
margin: 1vw;
  }

  label{
    padding: 0.2vw;

  }
  select,
  textarea {
    margin: 5%;
    color: black;
  }

a{
  text-decoration: none !important;
  color:rgb(211, 0, 0);
padding: 1vw;
}
a:hover{
  color: #9a8c98;
}

nav{
  display: flex;
  background-color: #ffffff;
  height: 4vw;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

  h3 {
    color: white;
margin: 5vw;
padding: 1.5vw;
background: #660708;
width: 100%;
text-align: center;
  }

  .name input, .number input, .animal select, textarea{
    height: 3vw;
    width: 20vw;
    padding: 1vw;
    align-self: center;
  }

  .color{

    size: 1vw;
  }
  
  form{
    background:transparent; 
margin: 1vw;
  }

  .content {
    display: flex;
    text-align: left;
    background: transparent;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 1vw;
    padding: 1vw;
    width: 50vw;
  }

  .color .content{
   display: inline-flex;
  }
  .blue {
    
    color: blue;
    border-style: solid;
    border-color: blue;
  }
  .yellow {
    color: yellow;
    border-style: solid;
    border-color: yellow;
  }
  .red {
    color: red;
    border-style: solid;
    border-color: red;
  }
  .green {
    color: green;
    border-style: solid;
    border-color: green;
  }
  .pink {
    color: pink;
    border-style: solid;
    border-color: pink;
  }
  .purple {
    color: purple;
    border-style: solid;
    border-color: purple;
  }
  .toxic {
    color: rgb(150, 167, 0);
    border-style: solid;
    border-color: rgb(74, 75, 16);
  }
  .dirty {
    color: rgb(215, 0, 223);
    border-style: solid;
    border-color: rgb(253, 0, 63);
  }



   button {
    color: white;

    }

  .button {
    margin: 2vw;
    padding: 1vw 2vw;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #161a1d;
    border-radius: 3px;
    box-shadow: 0 0 20px;
  }

  .button:hover {background-color: rgb(197, 0, 0); color: black}
  .button:active {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px;
    
  }

  footer{
    background: #660708;
    align-self: flex-end;
    bottom: 0;
    top: 100%;
    overflow: hidden;
    margin:1vw 0 0 0;
    padding: 2vw;
  }

  footer a{
    color: white;
    background: #660708;
    align-self: flex-end;
    float: right;
  }

  footer a:hover{
    color: red;
  }