*{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0.1vw black;
}

main{
  margin-top: 5vw;
  display: flex;
  color: rgb(0, 0, 0);
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  overflow: hidden;
  }
  
body{
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);


}

/*Navigation*/

nav a{
  text-decoration: none !important;
  color:orange;
  padding: 1vw;
  
}
a:hover{
  color: #fafafa;
}

ul button{
  height: 2vw;
  float: right;
  background: orange;
  Color: white;
  border: none;
  border-radius: 5px;
  margin: 0.8vw;
}
ul a{
  color: white;
}
ul  a:hover{
  color: orange;
  
}

ul button:hover{
  background-color: #00b7fff6;
}

nav{
  border-bottom: 2px orange solid;
  background-color: #ffffff;
  height: auto;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0 0 0.5vw black;
}

/*main form section*/

section{
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  width: 70%;

  margin: 2vw;
  box-shadow: 0 0 0.3vw white, inset 0 0 0.2vw white;
  background: rgba(255, 255, 255, 0.4);
}

  form{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
  }

  #form-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 1vw;
    padding: 1vw;
  }

  h1{
    border: 2px solid orange;
    margin: 5vw;
    padding: 2vw;
    width: 100%;
   align-self: center;
   text-align: center !important;
    color: #ffffff ;
    background: pink;
    justify-self: center;
    box-shadow: 0 0 0.2vw white, inset 0 0 0.5vw black;
    font-size: 4vw;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  }

  h3 {
    border-radius: 0.5vw 0.5vw 0 0;
    color: white;
    margin-bottom: 1vw;
    padding: 1.5vw;
    background: rgba(255, 255, 255, 0.459);
    width: 100%;
    text-align: center;
    border-bottom: 2px orange solid;
  }

option{
  color: black;
}

  .choice{
    margin: 1vw;
  }

  label{
    padding: 0.2vw;

  }
  select,
  textarea {
    margin: 5%;
    color: black;
  }

  .name input, .number input, .animal select, textarea{
    height: 3vw;
    width: 20vw;
    padding: 0.1vw;
    align-self: center;
  }

  .color{

    size: 1vw;
  }
  
  form{
    background:transparent; 
    margin: 1vw;
  }

  .content {
    display: flex;
    text-align: left;
    background: transparent;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 1vw;
    padding: 1vw;
    width: 50vw;
    text-shadow: 0 0 0.1vw black;
  }

  .color .content{
   display: inline-flex;
  }
  .blue {
    
    color: royalblue;
    border-style: solid;
    border-color: blue;
  }
  .yellow {
    color: yellow;
    border-style: solid;
    border-color: yellow;
  }
  .red {
    color: red;
    border-style: solid;
    border-color: red;
  }
  .green {
    color: green;
    border-style: solid;
    border-color: green;
  }
  .pink {
    color: pink;
    border-style: solid;
    border-color: pink;
  }
  .purple {
    color: purple;
    border-style: solid;
    border-color: purple;
  }
  .toxic {
    color: rgb(150, 167, 0);
    border-style: solid;
    border-color: rgb(74, 75, 16);
  }
  .dirty {
    color: rgb(215, 0, 223);
    border-style: solid;
    border-color: rgb(253, 0, 63);
  }



   button {
    color: white;
    border-radius: 0.5vw;
    }

  .button {
    margin: 2vw;
    padding: 1vw 2vw;
    font-size: 2vw;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: orange;
    border-radius: 0.5vw;
    box-shadow: 0 0 20px;
  }

  .button:hover {background-color: rgba(255, 255, 255, 0); color: black}
  .button:active {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px;
    
  }

  footer{
    color: white;
    display: flex;
    border-top: 2px solid orange;
    background: rgba(77, 77, 77, 0.527);
    align-self: flex-end;
    bottom: 0;
    top: 100%;
    overflow: hidden;
    margin: 1vw 0 0 0;
    padding: 4vw;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
  }

footer p, a{
  margin: 1vw 0;
  color: white;
}

  footer a{
    color: orange;
  }

  footer a:hover{
    color: red;
  }
  footer h4{
    font-size: 2vw;
    margin: 1vw;
    color: white;
  }
  label{
    color: white;
  }

  p{
    display: block;
    top: 0;
    bottom: 100vw;
    margin: 10vw;
    padding: 10vw;
    color: white;
    font-size: 2vw;
    border: 2px solid white;
  }
  #Back{
    display: none;
  }
  b{
    color: white;
  }