/*mobile*/

@media only screen and (max-width: 900px) {

*{
    font-size: 20px;
    text-shadow: 0 0 0.1vw black;
}
    
nav{
     height: fit-content;
     background: transparent;
     box-shadow: none;
     border-bottom: none;
 }

 nav a{
     font-size: 5vw;
 }

 ul button{
     height: 12vw;
     width: 20vw;
     border-radius: 10%;
     border: 2px solid white;
 }

 h1{
    margin-top: 15vw;
    font-size: 12vw;
    padding: 5% 0;
 }
 h3{
     font-size: 8vw;
     padding: 5%;
 }
 section{
     border: none;
     width: 100%;
     margin: 5% 0;
 }
 .name input, .number input, .animal select, textarea{
    height: 15vw;
    width: 75vw;
    margin: 10vw;
    
    font-size: 10;
  }
  .choice{
      margin: 5%;
  }
  label{
      font-size: 8vw;
  }
  input{
      height: auto;
      width: 10vw;
  }
  .button{
border-radius: 5px;
    font-size: 12vw;
    margin: 50% 0;
  }
  footer h4{
      font-size: 10vw;
  }
  p{
    font-size: 5vw;
    padding: 1vw;
    margin: 15vw 2vw;
    line-height: 1.6;
  }
}

@media (prefers-color-scheme: dark) {
    html {
        --text-color-normal: #0a244d;
        --text-color-light: #8cabd9;
      }
      
      html[data-theme='dark'] {
        --text-color-normal: hsl(210, 10%, 62%);
        --text-color-light: hsl(210, 15%, 35%);
        --text-color-richer: hsl(210, 50%, 72%);
        --text-color-highlight: hsl(25, 70%, 45%);
      }
      body[data-theme='dark']{
        background:#020608 ;
      }
}